.block{
    height: 100px;
    width: 300px;
    border: solid 5px black;
    background-color: rgb(216, 76, 216);
    position: fixed; top: 0px; left:0px;
    font-size: xx-large;
    text-align: center;
}
.text2{     
    font-size: xx-large;
}
.block1{
    height: 300px;
    width: 500px;
    border: solid 5px orange;
    background-color: black;
    position: sticky; top: 0px; left: 500px;
}
.text1{
    font-size: xx-large;
}