.block{
    height: 100px;
    width: 300px;
    border: solid 5px black;
    background-color: rgb(216, 76, 216);
    position: fixed; top: 0px; left:0px;
    font-size: xx-large;
    text-align: center;
}
.text2{     
    font-size: xx-large;
}
.block1{
    height: 270px;
    width: 250px;
    border: solid 5px aquamarine;
    background-color: grey;
    position: fixed; top: 572px; left: 500px;
    font-size: xx-large;
    color: black;
}
.text1{
    font-size: xx-large;
}