.block{
    height: 100px;
    width: 300px;
    border: solid 5px brown;
    background-color: orange;
    position: fixed; top: 0px; left:1600px;
    font-size: xx-large;
    color:whitesmoke;
    text-align: center;
}
.text2{     
    font-size: xx-large;
}
.block1{
    height: 100px;
    width: 700px;
    border: solid 23px grey;
    background-color: burlywood;
    position: absolute; top: 753px; left: 500px;
    color: darkred;
    transform: rotate(60deg);
}
.text1{
    font-size: xx-large;
}